<div class="col-span-12 lg:col-span-6 xl:col-span-3" *ngFor="let card of statsCards">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">{{ card.title }}</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
                    {{ formatValue(card) }}
                </div>
            </div>
            <div class="flex items-center justify-center rounded-border" style="width: 2.5rem; height: 2.5rem"
                 [ngClass]="getCardClasses(card.color)">
                <i class="pi text-xl!" [ngClass]="getIconClasses(card.color)"
                   [class]="card.icon"></i>
            </div>
        </div>
        <div *ngIf="metrics.loading" class="text-muted-color">
            Chargement...
        </div>
        <div *ngIf="metrics.error" class="text-red-500 text-sm">
            Erreur de chargement
        </div>
        <div *ngIf="!metrics.loading && !metrics.error" class="text-muted-color">
            Données en temps réel
        </div>
    </div>
</div>